.leaflet-container {
    height: 1000px;
    width: 100%;
    margin: auto;
}

.CardContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    position: fixed;
    z-index: 10002;
    background: black;
    width: 100%;
    color: #eeeeee;
}
